/**
 * Stilizovanje stranice namenjene za administratore
 *
 * @author Marko Divjak 0084/2017, Natalija Mitić 0085/2017
 *
 * @version 1.0
 */

.tournaments {
    background-color: #f8f8f8;
    color: #777;
    border-radius: 20px;
}

.admin-table tr {
    max-height: 25px;
}

.goLeft {
    float: left;
    width: 50%;
}

.goRight {
    float: right;
    width: 50%;
}