.tournaments {
    background-color: #f8f8f8;
    color: #777;
    border-radius: 20px;
}

.admin-table tr {
    max-height: 25px;
}

.goLeft {
    float: left;
    width: 50%;
}

.goRight {
    float: right;
    width: 50%;
}