.container {
  margin: auto;
  text-align: center;
}

html {
  height: 100%;
  overflow-x: hidden;
}

body {
  padding-top: 70px;
  background: url('../images/pokebg.jpeg');
  background-size: cover;
  background-position: center;
  color: #f8f8f8;
  background-color: #56baed;
}

a {
  color: #92badd;
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
}

h2.login {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  margin: 40px 8px 10px 8px;
  color: #cccccc;
}



hr {
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
hr.styled {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  width: 100%;
}



/* Navigation */

.navbar {
  width: 100vw;
}

.nav img {
  filter: invert(46%) sepia(15%) saturate(0%) hue-rotate(225deg) brightness(99%) contrast(96%);
}

.nav li a.alignPerfect {
  padding-bottom: 16px;
  padding-top: 13px;
}

.nav img:hover {
  filter: none;
}

.nav li a {
  font-size: 15px;
}


/*Home Page*/

#homeContent {
  padding-top: 120px;
  text-align: center;
  text-shadow: 0 4px 3px rgba(0, 0, 0, 0.4), 0 8px 13px rgba(0, 0, 0, 0.1), 0 18px 23px rgba(0, 0, 0, 0.1);
}

#homeContent h1 {
  font-weight: bold;
  font-size: 5em;
}

#homeContent .btn {
  font-weight: 600;
}

@media screen and (max-width: 500px) {
  #homeContent h1 {
    font-size: 4em;
  }
  #homeContent h3 {
    font-size: 20px;
  }
}
@media screen and (max-width: 350px) {
  #homeContent h1 {
    font-size: 3em;
  }
  #homeContent h3 {
    font-size: 15px;
  }
  #homeContent .btn {
    font-size: 15px;
  }
}


/* Quiz */

#quiz {  
  height: 90vh;
  overflow: scroll;
  -ms-overflow-style: none;
}

#quiz::-webkit-scrollbar {
  display: none;
}

.quizImg {
  filter: brightness(0%);
  width: 500px;
  max-width: 100vw;
}

.correctImg {
  width: 500px;
  max-width: 100vw;
}

.quizMsg {
  text-shadow: none;
  font-weight: 15px;
  font-weight: 700;
}

.shadow {
  text-shadow: 0 4px 3px rgba(0, 0, 0, 0.4), 0 8px 13px rgba(0, 0, 0, 0.1), 0 18px 23px rgba(0, 0, 0, 0.1);
}

.searchPokemon {
  color: black;
  height: 48px;
  border-radius: 25px;
  font-size: 20px;
}

#quizContent .btn {
  border-radius: 15px;
  font-size: 25px;
  margin-bottom: 0.5em;
}

.marginBottom {
  margin-bottom: 0.75em;
}

@media screen and (max-width: 867px) {
  .quizImg {
    width: 400px;
  }
}

@media screen and (max-width: 467px) {
  .quizImg {
    width: 300px;
  }
  #quizContent h1 {
    font-size: 32px;
  }
}
@media screen and (max-width: 367px) {
  .quizImg {
    width: 250px;
  }
  #quizContent h1 {
    font-size: 28px;
  }
}


/* Pokedex */
.loading {
  margin-top: 10%;
}
.loading h2 {
  color: rgb(36, 82, 151);
  font-weight: 700;
  font-family: 'Kanit', sans-serif;
}

#pokedexDisplay {
  height: 75vh;
  overflow: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
}

#pokedexDisplay::-webkit-scrollbar {
  display: none;
}

.pokemon-card {
  list-style: none;
  padding: 5px;
  margin: 15px;
  background-color: transparent;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.09);
  transition: 0.3s ease-in-out;
  border-radius: 10px;
}

.pokemon-card:hover {
  box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.7);
}

.pokemon-card a:hover {
  text-decoration: none !important;
}

.pokeName {
  color: rgb(36, 82, 151);
  font-size: 22px;
  font-family: 'Kanit', sans-serif;
  font-weight: 900;
  letter-spacing: 3px;
  text-transform: capitalize;
  margin: auto;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.pokeName span {
  font-style: italic;
}

.image {
  height: 180px;
  margin: 10px 0px 10px 0px;
  width: 180px;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px; 
  right: 30px; 
  z-index: 99; 
  border: none; 
  outline: none; 
  background-color: rgb(36, 82, 151);
  color: white;
  cursor: pointer; 
  padding: 15px;
  border-radius: 10px;
  font-size: 18px; 
}

#myBtn:hover {
  color: rgb(36, 82, 151);
  background-color: white;
}

#pokedex input[type="search"]::-webkit-search-cancel-button {
  /*Bootstrap 3 override*/
  -webkit-appearance: searchfield-cancel-button !important;
}


/* POKEMON */
#pokemon {
  height: 75vh;
  overflow: scroll;
  -ms-overflow-style: none;
}

#pokemon::-webkit-scrollbar {
  display: none;
}

.pokeName h1 {
  font-size: 45px;
}

.specs {
  padding-top: 20px;
  height: 300px;
  padding-left: 50px;
}

.specs p {
  padding-left: 10px;
}

#pokemon .pokemon-card:hover {
  border-color: rgb(36, 82, 151);
  border-width: 2px;
  border-style: solid;
}

.specsImg {
  padding-right: 50px;
}

.card-text {
  font-size: 20px;
  font-weight: 700;
  color: rgb(36, 82, 151);
}

.type {
  text-align: center;
  text-transform: uppercase;
  color: white;
  padding: 2px 10px;
  border-radius: 10px;
  margin: 0px 5px 10px 5px;
  height: 30px;
  display: inline-block;
  padding-top: 5px;
  font-weight: 550;
}

.fire {
  background-color: #fd7d24;
}

.flying {
  background: rgb(0, 212, 255);
  background: linear-gradient( 180deg, rgba(0, 212, 255, 1) 40%, rgba(195, 195, 195, 1) 60%);
}

.electric {
  background-color: #eed535;
}

.grass {
  background-color: #57ba7d;
}

.water {
  background-color: #4592c4;
}

.psychic {
  background-color: #f366b9;
}

.fighting {
  background-color: #d56723;
}

.bug {
  background-color: #b05cfa;
}

.normal {
  background-color: #959396;
}

.dragon {
  background: rgb(255, 197, 99);
  background: linear-gradient( 180deg, rgba(255, 197, 99, 1) 40%, rgba(240, 134, 83, 1) 60%);
}

.fairy {
  background-color: #fdb9e9;
}

.rock {
  background-color: #948c5c;
}

.ground {
  background: rgb(126, 57, 57);
  background: linear-gradient( 180deg, rgba(99, 175, 200, 1) 40%, rgba(126, 57, 57, 1) 60%);
}

.steel {
  background-color: #9eb7b8;
}

.ice {
  background-color: #51c4e7;
}

.ghost {
  background-color: #7b62a3;
}

.dark {
  background-color: #332f2f;
}

.poison {
  background-color: #b97fc9;
}

.special {
  color: pink;
}

.moves-title.title {
  font-size: 30px;
  color: rgb(36, 82, 151);
  font-weight: 700;
  font-family: 'Kanit', sans-serif;
  text-transform: uppercase;
}

.caption {
  color: black;
}

.move-name {
  text-transform: uppercase;
  font-size: 20px;
  font-family: 'Kanit', sans-serif;
  font-weight: 700;
}

#pokemon .thumbnail.moves, #pokemon .pokemon-card.moves {
  margin-left: auto;
  margin-right: auto;
  color:black;
  background-color: transparent;
  box-shadow: 0 3px 15px 2px rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}

.moves.container .thumbnail {
  border-color: rgb(36, 82, 151);
  border-width: 3px;
}

.container.pointers {
  position: fixed;
  margin-bottom: 20px;
  bottom: 20px;
  width: inherit;
}

@media screen and (max-width: 769px) {
  .container.pointers {
    width: 93vw;
  }
}

.icon.damage {
  padding-bottom: 5px;
  width: 30px;
  height:30px;
}

.capitalize {
  text-transform: capitalize;
}

@media screen and (max-width: 767px) {
  .specs {
    float: none;
    text-align: center;
    padding-left: 15px;
  }
  
  .specsImg {
    float: none;
    text-align: center;
    padding-right: 15px;
  }
}

@media screen and (max-width: 467px) {
  .pokeName h1 {
    font-size: 38px;
  }
  
  .pokemon-image {
    height: 200px;
    width: 200px;
  }
}

@media screen and (max-width: 367px) {
  .pokeName h1 {
    font-size: 33px;
  }
  
  .pokemon-image {
    height: 170px;
    width: 170px;
  }
}

@media screen and (max-width: 327px) {
  .pokeName h1 {
    font-size: 30px;
  }
}

/* Login */
#auth {  
  height: 80vh;
  overflow: scroll;
  -ms-overflow-style: none;
}

#auth::-webkit-scrollbar {
  display: none;
}

.loginForm .rememberMe {
  color: black;
  font-weight: 500;
}

.confirmPass p {
  color: black;
  margin-top: 10px;
  margin-right: 10px;
  font-weight: 600;
}

.loginForm input[type=button], .loginForm input[type=submit], .loginForm input[type=reset] {
  background-color: #56baed;
  border: none;
  color: white;
  padding: 15px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
  box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 20px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 50%;
  white-space: normal;
}

.loginForm input[type=button]:hover, .loginForm input[type=submit]:hover, .loginForm input[type=reset]:hover {
  background-color: #39ace7;
}

.loginForm input[type=button]:active, .loginForm input[type=submit]:active, .loginForm input[type=reset]:active {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

.loginForm input[type=text], .loginForm input[type=email], .loginForm input[type=password] {
  background-color: #f6f6f6;
  border: none !important;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  height: 60px;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

.loginForm input[type=text]:focus, .loginForm input[type=email]:focus, .loginForm input[type=password]:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

.loginForm input[type=email]:placeholder {
  color: #cccccc;
}

@media screen and (max-width: 417px) {
  .loginForm input[type=button], .loginForm input[type=submit], .loginForm input[type=reset] {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 328px) {
  .loginForm input[type=button], .loginForm input[type=submit], .loginForm input[type=reset] {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
  }
  .forgotPass {
    white-space: normal;
  }
}

/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Simple CSS3 Fade-in Animation */

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s;
  padding-top: 30px;
}

.fadeIn.second {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeIn.third {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fadeIn.fifth {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

.fadeIn.sixth {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  animation-delay: 1.2s;
}


/* Simple CSS3 Fade-in Animation */

.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #56baed;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after {
  width: 100%;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
  padding-top: 0%;
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
}

#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}




/* APP.CSS */

.invalid-feedback {
  display: none;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #e3342f;
}

.invalid-tooltip {
  position: absolute;
  top: 100%;
  z-index: 5;
  display: none;
  max-width: 100%;
  padding: 0.25rem 0.5rem;
  margin-top: 0.1rem;
  font-size: 0.7875rem;
  line-height: 1.6;
  color: #fff;
  background-color: rgba(227, 52, 47, 0.9);
  border-radius: 0.25rem;
}

.was-validated :invalid ~ .invalid-feedback,
.was-validated :invalid ~ .invalid-tooltip,
.is-invalid ~ .invalid-feedback,
.is-invalid ~ .invalid-tooltip {
  display: block;
}

.was-validated .form-control:invalid,
.form-control.is-invalid {
  border-color: #e3342f;
  padding-right: calc(1.6em + 0.75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23e3342f' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23e3342f' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(0.4em + 0.1875rem) center;
  background-size: calc(0.8em + 0.375rem) calc(0.8em + 0.375rem);
}

.was-validated .form-control:invalid:focus,
.form-control.is-invalid:focus {
  border-color: #e3342f;
  box-shadow: 0 0 0 0.2rem rgba(227, 52, 47, 0.25);
}

.was-validated textarea.form-control:invalid,
textarea.form-control.is-invalid {
  padding-right: calc(1.6em + 0.75rem);
  background-position: top calc(0.4em + 0.1875rem) right calc(0.4em + 0.1875rem);
}

.was-validated .custom-select:invalid,
.custom-select.is-invalid {
  border-color: #e3342f;
  padding-right: calc(0.75em + 2.3125rem);
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px, url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23e3342f' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23e3342f' stroke='none'/%3e%3c/svg%3e") #fff no-repeat center right 1.75rem/calc(0.8em + 0.375rem) calc(0.8em + 0.375rem);
}

.was-validated .custom-select:invalid:focus,
.custom-select.is-invalid:focus {
  border-color: #e3342f;
  box-shadow: 0 0 0 0.2rem rgba(227, 52, 47, 0.25);
}

.was-validated .form-check-input:invalid ~ .form-check-label,
.form-check-input.is-invalid ~ .form-check-label {
  color: #e3342f;
}

.was-validated .form-check-input:invalid ~ .invalid-feedback,
.was-validated .form-check-input:invalid ~ .invalid-tooltip,
.form-check-input.is-invalid ~ .invalid-feedback,
.form-check-input.is-invalid ~ .invalid-tooltip {
  display: block;
}

.was-validated .custom-control-input:invalid ~ .custom-control-label,
.custom-control-input.is-invalid ~ .custom-control-label {
  color: #e3342f;
}

.was-validated .custom-control-input:invalid ~ .custom-control-label::before,
.custom-control-input.is-invalid ~ .custom-control-label::before {
  border-color: #e3342f;
}

.was-validated .custom-control-input:invalid:checked ~ .custom-control-label::before,
.custom-control-input.is-invalid:checked ~ .custom-control-label::before {
  border-color: #e9605c;
  background-color: #e9605c;
}

.was-validated .custom-control-input:invalid:focus ~ .custom-control-label::before,
.custom-control-input.is-invalid:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 0.2rem rgba(227, 52, 47, 0.25);
}

.was-validated .custom-control-input:invalid:focus:not(:checked) ~ .custom-control-label::before,
.custom-control-input.is-invalid:focus:not(:checked) ~ .custom-control-label::before {
  border-color: #e3342f;
}

.was-validated .custom-file-input:invalid ~ .custom-file-label,
.custom-file-input.is-invalid ~ .custom-file-label {
  border-color: #e3342f;
}

.was-validated .custom-file-input:invalid:focus ~ .custom-file-label,
.custom-file-input.is-invalid:focus ~ .custom-file-label {
  border-color: #e3342f;
  box-shadow: 0 0 0 0.2rem rgba(227, 52, 47, 0.25);
}
