body {
  padding-top: 70px;
  background: url('../images/pokebg.jpeg');
  background-size: cover;
  background-position: center;
  color: #f8f8f8;
}

html {
  height: 100%;
}

h1 {
  font-weight: bold;
  font-size: 5em;
}

hr {
  width: 400px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

#content {
  text-align: center;
  padding-top: 20%;
  text-shadow: 0 4px 3px rgba(0,0,0,0.4),
               0 8px 13px rgba(0,0,0,0.1),
               0 18px 23px rgba(0,0,0,0.1);
}
