.container {
  margin: auto;
  text-align: center;
}

html {
  height: 100%;
  overflow-x: hidden;
}

body {
  padding-top: 70px;
  background: url('../images/pokebg.jpeg');
  background-size: cover;
  background-position: center;
  color: #f8f8f8;
  background-color: #56baed;
}

a {
  color: #92badd;
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
}

h2.login {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  margin: 40px 8px 10px 8px;
  color: #cccccc;
}



hr {
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
hr.styled {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  width: 100%;
}



/* Navigation */

.navbar {
  width: 100vw;
}

.nav img {
  filter: invert(46%) sepia(15%) saturate(0%) hue-rotate(225deg) brightness(99%) contrast(96%);
}

.nav li a.alignPerfect {
  padding-bottom: 16px;
  padding-top: 13px;
}

.nav img:hover {
  filter: none;
}

.nav li a {
  font-size: 15px;
}


/*Home Page*/

#homeContent {
  padding-top: 120px;
  text-align: center;
  text-shadow: 0 4px 3px rgba(0, 0, 0, 0.4), 0 8px 13px rgba(0, 0, 0, 0.1), 0 18px 23px rgba(0, 0, 0, 0.1);
}

#homeContent h1 {
  font-weight: bold;
  font-size: 5em;
}

#homeContent .btn {
  font-weight: 600;
}

@media screen and (max-width: 500px) {
  #homeContent h1 {
    font-size: 4em;
  }
  #homeContent h3 {
    font-size: 20px;
  }
}
@media screen and (max-width: 350px) {
  #homeContent h1 {
    font-size: 3em;
  }
  #homeContent h3 {
    font-size: 15px;
  }
  #homeContent .btn {
    font-size: 15px;
  }
}


/* Quiz */

.quizImg {
  filter: brightness(0%);
  width: 500px;
  max-width: 100vw;
}

.correctImg {
  width: 500px;
  max-width: 100vw;
}

.quizMsg {
  text-shadow: none;
  font-weight: 15px;
  font-weight: 700;
}

.shadow {
  text-shadow: 0 4px 3px rgba(0, 0, 0, 0.4), 0 8px 13px rgba(0, 0, 0, 0.1), 0 18px 23px rgba(0, 0, 0, 0.1);
}

.searchPokemon {
  color: black;
  height: 48px;
  border-radius: 25px;
  font-size: 20px;
}

#quizContent .btn {
  border-radius: 15px;
  font-size: 25px;
  margin-bottom: 0.5em;
}

.marginBottom {
  margin-bottom: 0.75em;
}

@media screen and (max-width: 867px) {
  .quizImg {
    width: 400px;
  }
}

@media screen and (max-width: 467px) {
  .quizImg {
    width: 300px;
  }
  #quizContent h1 {
    font-size: 32px;
  }
}
@media screen and (max-width: 367px) {
  .quizImg {
    width: 250px;
  }
  #quizContent h1 {
    font-size: 28px;
  }
}


/* Pokedex */
#pokedexDisplay {
  height: 75vh;
  overflow: scroll;
  -ms-overflow-style: none;
}

#pokedexDisplay::-webkit-scrollbar {
  display: none;
}

.pokemon-card {
  list-style: none;
  padding: 5px;
  margin: 15px;
  background-color: transparent;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.09);
  transition: 0.3s ease-in-out;
  border-radius: 10px;
}

.pokemon-card:hover {
  box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.7);
}

.pokemon-card a:hover {
  text-decoration: none !important;
}

.pokeName {
  color: rgb(36, 82, 151);
  font-size: 22px;
  font-family: 'Kanit', sans-serif;
  font-weight: 900;
  letter-spacing: 3px;
  text-transform: capitalize;
  margin: auto;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.pokeName span {
  font-style: italic;
}

.image {
  height: 180px;
  margin: 10px 0px 10px 0px;
  width: 180px;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px; 
  right: 30px; 
  z-index: 99; 
  border: none; 
  outline: none; 
  background-color: rgb(36, 82, 151);
  color: white;
  cursor: pointer; 
  padding: 15px;
  border-radius: 10px;
  font-size: 18px; 
}

#myBtn:hover {
  color: rgb(36, 82, 151);
  background-color: white;
}

#pokedex input[type="search"]::-webkit-search-cancel-button {
  /*Bootstrap 3 override*/
  -webkit-appearance: searchfield-cancel-button !important;
}